.option {

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: $mainColor;
	height: 200px;
	border: 1px solid $mainColorDk;
	cursor: pointer;
	transition: 0.2s;
	position: relative;

	&:hover {
		background-color: darken($mainColor, 5%);
	}

	&--active {
		transition: 1s;
		background-color: unset;
		border: none;
		cursor: unset;

		.option__icon {
			transition: 1s;
			width: 50px;
		}

		&:hover {
			background-color: unset;
		}
	}

	&__sm {

		height: 130px;
		padding: 1rem;

		.option__text {	font-size: 0.9rem; }
		.option__icon {	height: 40px; width: auto; }
	}

	&__text {
		font-size: 1.25rem;
		font-weight: bold;
		color: $mainColorDk;
	}

	&__icon {
		width: 75px;
		filter: invert(28%) sepia(83%) saturate(676%) hue-rotate(259deg) brightness(89%) contrast(90%);
		margin-bottom: 1rem;
	}

}