body { 
	font-family: sans-serif; 
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

main {
	height: 100vh;
	display: flex;
	align-items: center;
	background-image: url("../img/bg-totem.jpg");
	background-size: cover;
	background-position: center center;
}

.col {
	position: unset;
}

.step-three {
	display: flex;
}